<!doctype html>
<html lang="en" ng-app="app">

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Security-Policy" content="img-src 'self' data:; default-src 'self' https://detect-browser-privacy.herokuapp.com/">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Detect Browser Privacy</title>
	<style>
		body{display: flex;flex-direction: column;padding: 8px;}
		div {padding: 10px;font-family: sans-serif;color: #5374db;}
		button{padding: 7px;margin-top: 15px;font-size: 15px;width: 185px;align-self: center;}
	</style>

</head>

<body ng-controller="homeController">
	<div ng-if="is_private == undefined">
		Please click the button to detect browser privacy mode
	</div>
	<div ng-if="is_private != undefined">
		Your browser is running in
		<b>{{is_private?"private":"normal"}}</b> mode.
	</div>
	<button ng-click="checkPrivacyMode()">Check Browser Privacy</button>

	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/angular-ismobile/dist/angular-ismobile.min.js" type="text/javascript"></script>
	<script src="app.module.js" type="text/javascript"></script>
	<script src="service/browserPrivacy.service.js" type="text/javascript"></script>
	<script src="controller/home.controller.js" type="text/javascript"></script>
</body>

</html>
